---
layout: v1.0
title: 
url: /powered-by
permalink: /powered-by
menus:
 navbar:
  title: Powered-By
  weight: 1
  identifier: powered-by
description:
abstract:
subject:
keywords:
object-type:
author-facebook:
author-twitter: 
---

<div style="height: 100vh; background: repeating-linear-gradient(45deg, #FFFFFF, #FFFFFF 10px, #CED4D3 20px, #CED4D3);">
	<div style="position: absolute; bottom: 0; width: 100%;">

		{% assign powered-by = 'https://scrollif-assets.netlify.com/websites/components/powered-by/html/powered-by.html' %}

		{% capture date %}
			{{ site.time | date: '%Y' }}
		{% endcapture %}

		{% include_remote {{ powered-by }} date=date %}

	</div>
</div>