---
layout: v1.0
title: 
url: /powered-by
permalink: /powered-by
menus:
 navbar:
  title: Powered-By
  weight: 1
  identifier: powered-by
description:
abstract:
subject:
keywords:
object-type:
author-facebook:
author-twitter: 
---

<div style="height: 100vh; background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQ9x9lgpvzOyUqsrvtK0TlUCl1Hp3jp7KpYr3yaz26MRcIvygx0");">
	<div style="position: absolute; bottom: 0; width: 100%;">

		{% assign powered-by = 'https://scrollif-assets.netlify.com/websites/components/powered-by/html/powered-by.html' %}

		{% capture date %}
			{{ site.time | date: '%Y' }}
		{% endcapture %}

		{% include_remote {{ powered-by }} date=date %}

	</div>
</div>