:root {
	/* COLORS & FONTS */
		--color-primary: #33CCFF;
		--color-secondary: #333333;
		--color-tertiary: #CCCCCC;
		--color-black: #333333;
		--color-dark-grey: #666666;
		--color-light-grey: #CCCCCC;
		--color-white: #FFFFFF;
		--font-primary: Sans-Serif;
		--font-weight-primary: 800;
		--font-secondary: Sans-Serif;
		--font-weight-secondary: 400;
		--font-tertiary: Sans-Serif;
		--font-weight-tertiary: 400;
		--font-xxs: 0.75rem;
		--font-xxs-margin-top: calc(var(--font-xxs)/2.5);
		--font-xxs-margin-bottom: calc(var(--font-xxs)/2.5);
		--font-xs: 1rem;
		--font-xs-margin-top: calc(var(--font-xs)/2.5);
		--font-xs-margin-bottom: calc(var(--font-xs)/2.5);
		--font-s: 1.25rem;
		--font-s-margin-top: calc(var(--font-s)*1.5);
		--font-s-margin-bottom: calc(var(--font-s)/1.5);
		--font-m: 1.5rem;
		--font-m-margin-top: calc(var(--font-m)*1.5);
		--font-m-margin-bottom: calc(var(--font-m)/1.5);
		--font-l: 2rem;
		--font-l-margin-top: calc(var(--font-l)*1);
		--font-l-margin-bottom: calc(var(--font-xl)/2);
		--font-xl: 3rem;
		--font-xl-margin-top: calc(var(--font-xl)*1);
		--font-xl-margin-bottom: calc(var(--font-xl)/2);

	/* CONTAINERS ETC. */
		--max-width-container: 1200px;
		--header-image-height: 40px;
		--default-padding: 15px;
		--header-height: calc(var(--header-image-height) + calc(var(--default-padding) * 2));

	/* BORDERS & SHADOWS */
		--box-shadow: 0 0 5px 1px var(--color-black);
		--box-shadow-bottom: 0 5px 5px -3px var(--color-black);
		--box-shadow-bottom-right: 2px 2px 5px -2px var(--color-black);
		--text-shadow: 2px 2px 3px var(--color-light-grey);

	/* TRANSITIONS */
		--transition-speed: 250ms;
}
