/* CONTAINERS ETC. */
	div.max-width-container {
		width: 100%;
		max-width: var(--max-width-container);
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}
	div.max-width-container-two-thirds {
			width: 100%;
			max-width: calc(var(--max-width-container) / 1.5);
			margin-left: auto;
			margin-right: auto;
			position: relative;
		}
	div.max-width-container-half {
			width: 100%;
			max-width: calc(var(--max-width-container) / 2);
			margin-left: auto;
			margin-right: auto;
			position: relative;
		}
	div.header-offset {
		height: var(--header-height);
	}
	.anchor::before {
		display: block; 
		content: " "; 
		margin-top: calc((var(--header-height))*-1; 
		height: calc(var(--header-height)); 
		visibility: hidden; 
		pointer-events: none;
	}
	div.hero-image-full {
    	height: calc(100vh - var(--header-height)); 
        width: 100%;
    }