@font-face {
  font-family: "Quicksand-Bold";
  src: url("https://scrollif-assets.netlify.app/websites/components/powered-by-scroll-if/fonts/Quicksand-Bold/Quicksand-Bold.eot"); /* IE9 Compat Modes */
  src: url("https://scrollif-assets.netlify.app/websites/components/powered-by-scroll-if/fonts/Quicksand-Bold/Quicksand-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("https://scrollif-assets.netlify.app/websites/components/powered-by-scroll-if/fonts/Quicksand-Bold/Quicksand-Bold.otf") format("opentype"), /* Open Type Font */
    url("https://scrollif-assets.netlify.app/websites/components/powered-by-scroll-if/fonts/Quicksand-Bold/Quicksand-Bold.svg") format("svg"), /* Legacy iOS */
    url("https://scrollif-assets.netlify.app/websites/components/powered-by-scroll-if/fonts/Quicksand-Bold/Quicksand-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("https://scrollif-assets.netlify.app/websites/components/powered-by-scroll-if/fonts/Quicksand-Bold/Quicksand-Bold.woff") format("woff"), /* Modern Browsers */
    url("https://scrollif-assets.netlify.app/websites/components/powered-by-scroll-if/fonts/Quicksand-Bold/Quicksand-Bold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand-Regular";
  src: url("https://scrollif-assets.netlify.app/websites/components/powered-by-scroll-if/fonts/Quicksand-Regular/Quicksand-Regular.eot"); /* IE9 Compat Modes */
  src: url("https://scrollif-assets.netlify.app/websites/components/powered-by-scroll-if/fonts/Quicksand-Regular/Quicksand-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("https://scrollif-assets.netlify.app/websites/components/powered-by-scroll-if/fonts/Quicksand-Regular/Quicksand-Regular.otf") format("opentype"), /* Open Type Font */
    url("https://scrollif-assets.netlify.app/websites/components/powered-by-scroll-if/fonts/Quicksand-Regular/Quicksand-Regular.svg") format("svg"), /* Legacy iOS */
    url("https://scrollif-assets.netlify.app/websites/components/powered-by-scroll-if/fonts/Quicksand-Regular/Quicksand-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("https://scrollif-assets.netlify.app/websites/components/powered-by-scroll-if/fonts/Quicksand-Regular/Quicksand-Regular.woff") format("woff"), /* Modern Browsers */
    url("https://scrollif-assets.netlify.app/websites/components/powered-by-scroll-if/fonts/Quicksand-Regular/Quicksand-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
#powered-by-scroll-if {
	width: 100%;
	text-align: center;
	background-color: #FFFFFF;
}
#powered-by-scroll-if a div.max-width-container {
	width: 100%;
	max-width: var(--max-width-container);
	margin: auto auto;
	position: relative;
	padding: 15px;
}
#powered-by-scroll-if a div.max-width-container p.caption {
	display: block;
	font-family: 'Quicksand-Bold';
	color: #333333;
	font-size: 14px;
	margin: 0 0 5px;
	vertical-align: bottom;
	line-height: 1;
}
#powered-by-scroll-if a div.max-width-container img.logo {
	width: auto;
	height: 25px;
	vertical-align: bottom;
	line-height: 1;
}
#powered-by-scroll-if a div.max-width-container p.copyright {
	display: block;
	font-family: 'Quicksand-Regular';
	color: #666666;
	font-size: 10px;
	margin: 10px 0 0 0;
	vertical-align: bottom;
	line-height: 1;
}
